body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}

th {
  background-color: #eaeaea;
}

input {
  width: 40px;
  text-align: center;
}

button {
  margin: 20px auto;
  display: block;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
}
